.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #7e7f82b5;
    color: white;
    padding: 20px;
}

.sidebar-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-menu .logout a {
    background-color: #dc3545;
}

.sidebar-menu .logout a:hover {
    background-color: #bb2d3b;
}

.main-content {
    flex: 1;
    padding: 30px;
    background-color: #e9eaea;
}
.btn-primary{
    margin-bottom: 2% !important;
    padding: 2% !important;
}
form input{
    width: 100%;
    height: 35px;

}
form{
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: #ffffff; */
}
form textarea{
    width: 100%;
    height: 90px;
}
form button{
    background-color: #f28b00;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 40%;
}
.filter{
    display: flex ;
}
.filter form{
    margin-top: 5px;
}